body {
    font-family: verdana;
    color: rgb(110, 109, 109);
    
}

.header1 {
    text-align: center;
    font-size: 40px;
}

#home {
    font-family: verdana;
    background-color: rgb(131, 157, 236);
    color: white;
}


.mainbackground {
    background-color:rgb(182, 221, 245)
}

.blackcodbackground {
    background-color: navajowhite;

}

.mincepiesbackground {
    background-color:pink
}

.christmasbackground {
background-color: sandybrown;

}